.product-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr)); /* Display 4 columns */
  gap: 20px;
  row-gap: 10vh;
  align-items: stretch;
}
@media (max-width: 1600px) {
  .product-list {
    grid-template-columns: repeat(3, minmax(0, 1fr)); /* Display 3 columns */
  }
}
.product-card {
  height: 300px !important;
  display: flex;
  flex-direction: column;
}
.product-card:hover {
  box-shadow: 0 0 15px rgba(33, 33, 0, 0.2);
  cursor: pointer;
}


.product-details {
  margin-top: 10px;
  flex: 1;
}
.add-to-cart-button {
  float: right;
}
.product-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 60px; /* Set a minimum height for the title */
  font-weight: bold;
}


.product-price {
  font-weight: bold;
}

.product-description {
  margin-top: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 40px; /* Set a minimum height for the description */
}

.product-rating {
  margin-top: 10px;
}



.product-title .title-container {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.pricing {
  font-weight: bold;
  font-size: 16px;
}

/*=======================*/
.product-image {

  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filterButtons {
}

.load-more-button{
  margin-top: 15vh;
  margin-bottom: 20px;
  margin-left: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-title .title-container {
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 1 !important;
  overflow: hidden;
}

.sorting {
  margin-bottom: 2vh !important;
}
.sortByLabel {
  font-size: 16px;
  font-weight: bold;
}
