<div class="product-list" *ngIf="lalalala != null">
  <p-card
    *ngFor="let product of lalalala.slice(0, displayedRows)"
    class="product-card"
    (click)="getProductDetails(product.id, $event)"
  >
    <ng-template pTemplate="title" class="product-title"> </ng-template>

    <ng-template pTemplate="content">
      <div class="product-image">
         <img [src]="product.productImage" alt="Image not available" class="fit-image2">
      </div>
      <div
        class="title-container"
        [ngClass]="{ 'title-container-long': product.name.length > 20 }"
      >
        {{ product.name }}
      </div>

      <!--      <p class="product-description">{{ product.description }}</p>-->

      <div class="product-rating">
        <p-rating [(ngModel)]="product.rating" [readonly]="true"></p-rating>
      </div>
      <div class="pricing">{{ product.price }} $</div>
    </ng-template>
    <ng-template pTemplate="footer">
      <p-button
        icon="pi pi-heart"
        class="favorite-button"
        (click)="addToFavorite(product, $event)"
      ></p-button>
      <p-button
        class="add-to-cart-button"
        (click)="addToBasket(product, $event)"
        >Add to Cart</p-button
      >
    </ng-template>
  </p-card>
</div>
<div class="load-more-button" *ngIf="displayedRows < totalRows">
  <button pButton (click)="loadMoreRows()" style="" >Load More</button>
</div>

<div *ngIf="lalalala.length < 1">
  <h1>There are no products to fit this category</h1>
</div>
