.product-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr)); /* Display 4 columns */
  gap: 20px;
  row-gap: 10vh;
  align-items: stretch;
}
@media (max-width: 1200px) {
  .product-list {
    grid-template-columns: repeat(3, minmax(0, 1fr)); /* Display 3 columns */
  }
}
.product-card {
  height: 300px !important;
  display: flex;
  flex-direction: column;
}

.product-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
}

.product-details {
  margin-top: 10px;
  flex: 1;
}

.product-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 60px; /* Set a minimum height for the title */
}

.fit-image {
  max-width: 150px;
  max-height: 150px;
  width: auto;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.product-price {
  font-weight: bold;
}

.product-description {
  margin-top: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 40px; /* Set a minimum height for the description */
}

.product-rating {
  margin-top: 10px;
}

.product-image {
  width: 150px;
  height: 150px;
  align-items: center;
  justify-content: center;
}

.product-title .title-container {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.pricing {
  font-weight: bold;
  font-size: 16px;
}
