<div class="filters">
  <h2>Filters</h2>
  <div class="filter-item">
    <p-dropdown id="category" [options]="categories" [(ngModel)]="selectedCategory" optionLabel="categoryName" [placeholder]="selectedCategory ? selectedCategory.name : 'All'" (onChange)="onCategoryChange($event.value)">
      <ng-template let-category pTemplate="item">
        {{ category.name }}
      </ng-template>
    </p-dropdown>
  </div>

  <div class="filter-item">
    <label for="priceRange">Price Range:</label>
    <span class="price-range-value">{{selectedPriceRange[0]}} - {{selectedPriceRange[1]}}</span>
    <p-slider id="priceRange" [(ngModel)]="selectedPriceRange" [range]="true" [min]="0" [max]="1000" [step]="10"></p-slider>
  </div>
    <span class="p-buttonset">
      <button pButton pRipple label="Apply Filters" (click)="applyFilters()"></button>
      <button pButton pRipple label="Clear" style="background-color: #ee4f27;
            border-color: #ee4f27;
            " (click)="clearFilters()"></button>
    </span>
</div>
