.filters {
  /*width: 90%;*/
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.filters h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.filter-item {
  margin-bottom: 10px;
}

.filter-item label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.p-button-sm{
  margin-right: 10px!important;
  width: 20px;
}

.full-width-button {
  width: 100%;
}
