::ng-deep.p-datatable .p-datatable-tbody > tr > td{
  border-bottom:1px solid black;
}

.editButton{
  margin-left: 10px;
}

.container{
  position:relative;
}

.spinner{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
