<p-menubar>
  <ng-template pTemplate="end">
    <p-button (click)="showDialogNewProduct()" icon="pi pi-plus" label="New product"></p-button>
    <!--    edit dialog bellow-->
    <!--    <p-button (click)="showDialogEditProduct()" icon="pi pi-external-link" label="Edit product"></p-button>-->
    <app-update-product (deleteEmitter)="delete()" (closeEmitter)="onClose()" [selectedProduct]="selectedProduct"
                        [show]="visible" [header]="header"></app-update-product>
  </ng-template>
</p-menubar>

<p-table [paginator]="true" [rows]="row" [rowsPerPageOptions]="rows" [value]="mockProductsList"
         [tableStyle]="{ 'min-width': '50rem' }" responsiveLayout="stack" [breakpoint]="'960px'"
         [globalFilterFields]="['name']">
  <ng-template pTemplate="header">
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Category</th>
      <th>Stock</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr (click)="showDialogEditProduct(product)" class="item">
      <td><img alt="image" [src]="product.photos[0]" style="max-width: 100px;max-height: 50px"></td>
      <td>{{ product.name }}</td>
      <td>{{ product.category }}</td>
      <td>{{ product.stock }}</td>
      <td>${{ product.price }}</td>
      <td>
        <p-button icon="pi pi-trash" label="Delete" (click)="showDialogDeleteProduct(product,$event)"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
