.product-all {
/*  display: flex;*/
/*  justify-content: center;*/
/*  margin-top: 25px*/
  width: calc(100% - 237px);
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  overflow: inherit;
  margin-top: 5vh;
}

.filters {
  /*width: 30%;*/
  /*padding: 0 10px;*/
  display: block;
  float: left;
  padding-right: 15px;
  width: 273px;

}
.product-list {
  width: calc(100% - 237px);

}
.filters + .product-all {
  width: calc(100% - 237px);
  float: left;
}
*{
  box-sizing: border-box;
}
