/*.product-all {*/
/*!*  display: flex;*!*/
/*!*  justify-content: center;*!*/
/*!*  margin-top: 25px*!*/
/*  width: calc(100% - 237px);*/
/*  margin-right: auto;*/
/*  margin-left: auto;*/
/*  padding-left: 10px;*/
/*  padding-right: 10px;*/
/*  overflow: inherit;*/
/*  margin-top: 5vh;*/
/*}*/

/*.filters {*/
/*  !*width: 30%;*!*/
/*  !*padding: 0 10px;*!*/
/*  display: block;*/
/*  float: left;*/
/*  padding-right: 15px;*/
/*  width: 273px;*/

/*}*/
/*.product-list {*/
/*  width: calc(100% - 237px);*/

/*}*/
/*.filters + .product-all {*/
/*  width: calc(100% - 237px);*/
/*  float: left;*/
/*}*/
/**{*/
/*  box-sizing: border-box;*/
/*}*/
.product-all {
  width: calc(100% - 237px);
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  overflow: inherit;
  margin-top: 5vh;
  padding-bottom: 5vh;
  box-sizing: border-box; /* Include padding and border in the width calculation */
}

.filters {
  display: block;
  float: left;
  padding-right: 15px;
  width: 273px;
  box-sizing: border-box; /* Include padding and border in the width calculation */
}

.product-list {
  width: calc(100% - 237px);
  box-sizing: border-box; /* Include padding and border in the width calculation */
  margin-bottom: 10vh;
}

@media (max-width: 1200px) {
  .product-all {
    display: inline-block;
    width: 100%; /* Take up full width */
    padding: 0; /* Remove padding */
    margin: 15px 0 15px 0;
  }

  .filters {
    /*display: none; !* Hide the filters *!*/
    display: inline-block;
    width: 100%;
    padding-bottom: 5vh;
  }

  .product-list {
    width: 100%; /* Take up full width */
    margin-bottom: 10vh;
  }
}

@media(max-width: 1400px) {
  .product-all {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

@media(max-width: 1600px) {
  .product-all {
    /*width: calc(100% - 137px);*/
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7986cb;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.product-img {
  height: 100px;
}
