.navBar {
  min-width: min-content;
}

.navControls::ng-deep .p-menubar-end {
  margin: 0;
}

.navControls::ng-deep .p-menubar {
  display: flex;
}
/* p-menubar-root-list */

.navProductControls::ng-deep .p-menubar.p-component p-menubarsub {
  display: flex;

  width: 100%;
}
.navProductControls::ng-deep
  .p-menubar.p-component
  p-menubarsub
  .p-menubar-root-list {
  width: 100%;
  justify-content: center;
}
.navProductControls::ng-deep
  .p-menubar.p-component
  p-menubarsub
  .p-menubar-root-list
  li:nth-child(2) {
  margin-right: 50%;
}

@media screen and (max-width: 960px) {
  ::ng-deep .p-menubar .p-menubar-button {
    display: none;
  }
  ::ng-deep .p-menubar {
    position: inherit;
  }
  ::ng-deep .p-menubar .p-menubar-root-list {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: unset;
    padding: unset;
    background: inherit;
    border: unset;
    box-shadow: unset;
  }
  .navProductControls::ng-deep
    .p-menubar.p-component
    p-menubarsub
    .p-menubar-root-list
    li:nth-child(2) {
    margin-right: 0;
  }
}

/* is overridden by smth else */
@media screen and (max-width: 512px) {
  ::ng-deep .p-menuitem-link {
    padding: 0.75rem 0.5rem;
  }
}

.searchInput {
  width: 30vw;
  min-width: 5rem;
  border-radius: 0.5rem;
  border: 1px solid gray;
  padding-left: 0.5rem;
}

.searchContainer {
  flex-grow: 1;
}

::ng-deep .p-menubar-start {
  width: 100%;
}
