<div class="card flex justify-content-center">
  <p-dialog [hidden]="header!='Add new product'" (onHide)="onClose($event)" header="{{header}}" [(visible)]="visible"
            [style]="{width: '50vw'}">
    <form [formGroup]="newProductForm" (ngSubmit)="onSubmit()">
      <div>
        <label>
          Name:
        </label>
        <input formControlName="name">
      </div>
      <div>
        <label>
          Price:
        </label>
        <input formControlName="price">
      </div>
      <div>
        <label>
          Category:
        </label>
        <input formControlName="category">
      </div>
      <div>
        <label>
          Description:
        </label>
        <input formControlName="description">
      </div>
      <div>
        <label>
          Stock:
        </label>
        <input formControlName="stock">
      </div>
      <div class="card flex justify-content-center">
        <input type="file" mode="basic" value="Choose" accept="image/*" (change)="onFileChanged($event)">
        <input type="button" (click)="onUpload()" value="upload">
      </div>
      <div class="card flex justify-content-center">
        <input type="file" mode="basic" value="Choose" accept="image/*" (change)="onFileChanged($event)">
        <input type="button" (click)="onUpload()" value="upload">
      </div>
      <p-button type="submit" icon="pi pi-check" label="Add" styleClass="p-button-text"></p-button>


    </form>
  </p-dialog>
  <p-dialog [hidden]="header!='Edit product'" (onHide)="onClose($event)" header="{{header}}" [(visible)]="visible"
            [style]="{width: '50vw'}">
    <h1>Edit {{selectedProduct!.name}}</h1>
    <form [formGroup]="newEditForm" (ngSubmit)="onEditSubmit(selectedProduct!.id)">
      <div class="flex flex-column gap-2">
        <label htmlFor="name">Name</label>
        <input pInputText id="name" aria-describedby="username-help" formControlName="name"/>
      </div>
      <div class="flex flex-column gap-2">
        <label htmlFor="category">Category</label>
        <input pInputText id="category" aria-describedby="username-help" formControlName="category"/>
      </div>
      <div class="flex flex-column gap-2">
        <label htmlFor="price">Price</label>
        <input pInputText id="price" aria-describedby="username-help" formControlName="price"/>
      </div>
      <div class="flex flex-column gap-2">
        <label htmlFor="stock">Stock</label>
        <input pInputText id="stock" aria-describedby="username-help" formControlName="stock"/>
      </div>
      <div class="flex flex-column gap-2">
        <label htmlFor="description">Description</label>
        <input pInputText id="description" aria-describedby="username-help" formControlName="description"/>
      </div>
      <p-button type="submit" icon="pi pi-check" label="Ok" styleClass="p-button-text"></p-button>
      <p-button icon="pi pi-check" label="Cancel" styleClass="p-button-text"></p-button>
    </form>
  </p-dialog>

</div>
