<div class="card flex justify-content-center">
  <p-dialog [hidden]="header!='Add new product'" (onHide)="onClose($event)" header="{{header}}" [(visible)]="visible"
            [style]="{width: '50vw'}">
    <form [formGroup]="newProductForm" (ngSubmit)="onSubmit()">
      <div class="card flex justify-content-center">
        <label class="block font-bold mb-2" htmlFor="name">Name</label>
      </div>
      <div class="card flex justify-content-center">
        <input type="text" pInputText formControlName="name"/>
      </div>

        <div class="card flex justify-content-center">
          <label class="block font-bold mb-2">Price</label>
        </div>
      <div class="card flex justify-content-center">
          <p-inputNumber formControlName="price" inputId="currency-us" mode="currency" currency="USD"
                         locale="en-US"></p-inputNumber>
      </div>
      <div class="card flex justify-content-center">
        <label class="block font-bold mb-2">Category</label>
      </div>
      <div class="card flex justify-content-center">
        <p-dropdown formControlName="category" [options]="categories" placeholder="Select category"></p-dropdown>
      </div>
      <div class="card flex justify-content-center">
        <label class="block font-bold mb-2">Description</label>
      </div>
      <div class="card flex justify-content-center">
        <textarea rows="5" cols="30" pInputTextarea formControlName="description"></textarea>
      </div>
      <div class="card flex justify-content-center">
        <label class="block font-bold mb-2">Stock</label>
      </div>
      <div class="card flex justify-content-center">
        <p-inputNumber formControlName="stock" inputId="integeronly"></p-inputNumber>
      </div>
      <div class="card flex justify-content-center">
        <input type="file" value="Choose" accept="image/*" (change)="onFileChanged($event)">
        <input type="button" (click)="onUpload()" value="upload">
      </div>
      <div class="card flex justify-content-center">
        <input type="file" value="Choose" accept="image/*" (change)="onFileChanged($event)">
        <input type="button" (click)="onUpload()" value="upload">
      </div>
      <p-button type="submit" icon="pi pi-check" label="Add" styleClass="p-button-text"></p-button>
      <p-button (click)="close()" icon="pi pi-times" label="Cancel" styleClass="p-button-text"></p-button>

    </form>
  </p-dialog>
  <p-dialog [hidden]="header!='Edit product'" (onHide)="onClose($event)" header="{{header}}" [(visible)]="visible"
            [style]="{width: '50vw'}">
    <h1>Edit {{selectedProduct!.name}}</h1>
    <form [formGroup]="newEditForm" (ngSubmit)="onEditSubmit(selectedProduct!.id)">
      <div class="flex flex-column gap-2">
        <label htmlFor="title">Title</label>
        <input pInputText id="title" aria-describedby="username-help" formControlName="name"/>
      </div>
      <div class="flex flex-column gap-2">
        <label htmlFor="category">Category</label>
        <input pInputText id="category" aria-describedby="username-help" formControlName="category"/>
      </div>
      <div class="flex flex-column gap-2">
        <label htmlFor="price">Price</label>
        <input pInputText id="price" aria-describedby="username-help" formControlName="price"/>
      </div>
      <div class="flex flex-column gap-2">
        <label htmlFor="stock">Stock</label>
        <input pInputText id="stock" aria-describedby="username-help" formControlName="stock"/>
      </div>
      <div class="flex flex-column gap-2">
        <label htmlFor="description">Description</label>
        <input pInputText id="description" aria-describedby="username-help" formControlName="description"/>
      </div>
      <p-button type="submit" icon="pi pi-check" label="Update" styleClass="p-button-text"></p-button>
      <p-button (click)="close()" icon="pi pi-times" label="Cancel" styleClass="p-button-text"></p-button>
    </form>
  </p-dialog>
  <p-dialog [hidden]="header!='Delete'" header="{{header}}" [(visible)]="visible"
            [style]="{width: '50vw'}" (onHide)="onClose($event)">
    <h2>Are you sure you want to delete {{selectedProduct?.name}}?</h2>
    <p-button (click)="delete(selectedProduct)" icon="pi pi-check" label="Yes" styleClass="p-button-text"></p-button>
    <p-button (click)="close()" icon="pi pi-times" label="No" styleClass="p-button-text"></p-button>
  </p-dialog>
</div>
