<div class="w-6 xl:w-8 lg:w-8 md:w-10 sm:w-full mx-auto my-8">
    <div class="card my-4 flex justify-content-center">
        <h1 class="title">ACCOUNT DETAILS</h1>
    </div>
    <div class="flex justify-content-center">
        <p-card
            class="my-auto flex justify-content-center"
            header="{{loggedInUser.firstName}} {{loggedInUser.lastName}}"
            subheader="{{loggedInUser.username}}"
            [style]="{ width: '800px' }"
        >
            <p-divider></p-divider>
            <h2>Account credentials</h2>
            <p>You can change your credentials below:</p><br>
            <form class="mb-4">
                <label for="username">Username:</label>
                <input
                    pInputText
                    class="w-full max-w-full mb-2"
                    name="username"
                    type="text"
                    value="{{loggedInUser.username}}"
                />
                <label for="email">Email:</label>
                <input
                    pInputText
                    class="w-full max-w-full mb-2"
                    name="email"
                    type="text"
                    value="{{loggedInUser.email}}"
                />
                <label for="password">Password:</label>
                <input
                    pInputText
                    class="w-full max-w-full mb-4"
                    name="password"
                    type="password"
                />
                <p-button>Confirm</p-button>
            </form>
            <p-divider></p-divider>
            <h2>Invoicing address:</h2> <br>
            <form [formGroup]="userAddressForm" (ngSubmit)="onSubmitAddress()">
                <label for="address">Address:</label>
                <input
                    pInputText
                    class="w-full max-w-full mb-2"
                    name="address"
                    type="text"
                    formControlName="address"
                />
                <label for="county">County:</label>
                <p-dropdown id="county" optionValue="auto" placeholder="Select a County"
                        [options]="counties" optionLabel="nume" formControlName="county"
                        (onChange)="getCities()" styleClass="mb-2 w-full"></p-dropdown>
                <label for="city">City:</label>
                <p-dropdown id="city" optionValue="nume" placeholder="Select a City"
                        [options]="cities" optionLabel="nume" styleClass="mb-2 w-full"
                        formControlName="city" 
                        [dropdownIcon]="'pi pi-chevron-down'"
            ></p-dropdown>
                <label for="phone">Phone number:</label>
                <input
                    pInputText
                    class="w-full max-w-full mb-4"
                    name="phone"
                    type="text"
                    formControlName="phone"
                />
                <p-button type="submit">Confirm</p-button>
            </form>
        </p-card>
    </div>
</div>
