<div class="mainDiv">
<p-table [paginator]="true" [rows]="row" [rowsPerPageOptions]="rows" [value]="orderItems"
         [tableStyle]="{ 'min-width': '50rem' }" responsiveLayout="stack" [breakpoint]="'960px'"
         [globalFilterFields]="['name']" [style]="{'margin-top': '20px'}">
  <ng-template pTemplate="header">
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Category</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-Item let-index="rowIndex">
    <tr  class="item">
<!--      <td *ngIf="isProductAvailable(product)"><img alt="image" [src]="product.photos[0]" style="max-width: 100px;max-height: 50px"></td>-->
      <td >Not yet</td>
      <td >{{ Item.name }}</td>
      <td >{{ Item.category }}</td>
      <td >
        <p-button (onClick)="decrement(Item)" icon="pi pi-minus" [style]="{'width': '30px', 'height': '30px', 'border-radius': '15px'}" styleClass="my-button">
        </p-button>
        {{ Item.quantity }}
        <p-button (onClick)="increment(Item)" icon="pi pi-plus" [style]="{'width': '30px', 'height': '30px', 'border-radius': '15px'}" styleClass="my-button">
        </p-button>
      </td>
      <td class="itemPrice">{{getItemPrice(Item)}} $</td>
      <td >
        <p-button icon="pi pi-trash" (click)="deleteProduct(Item, index, $event)"></p-button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="footer">
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><strong>Total:</strong></td>
      <td><strong>${{ getTotalPrice() }}</strong></td>
      <td>
        <div class="checkout-button">
          <p-button type="button" label="Checkout" (click)="checkout()"></p-button>
        </div>

      </td>
    </tr>
  </ng-template>
</p-table>
</div>
