.mainDiv {
  border-radius: 5px;
}

.basket-item {
  display: flex;
  /*align-items: center;*/
  width: 100%;
  margin: 10px 0;
}
p-table .item {
  padding: 10px;
  border-bottom: 1px solid #ddd !important;
}

p-table thead th {
  background-color: #f5f5f5 !important;
  padding: 10px !important;
}
.p-card-header {
  width: 80px; /* Adjust the width as needed */
}
.my-button {
  border-radius: 15px;
  display: flex;
  /*justify-content: center;*/
  /*align-items: center;*/
}
p-table td:nth-child(4) {
  text-align: center;
  font-weight: bold;
}

/*.product-img {*/
/*  width: 100%;*/
/*  height: auto;*/
/*}*/

.p-card-body {
  flex-grow: 1;
  padding-left: 10px; /* Add some spacing between the image and content */
}

.product-name {
  font-size: 18px;
  margin-top: 0;
}

.product-price {
  font-size: 16px;
  margin-top: 5px;
  color: #888;
}
.itemPrice {
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7986cb;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.productImage {
  max-height: 100px;
  width: auto;
}
