/*.mainDiv {*/
/*  border-radius: 5px;*/
/*}*/

/*.basket-item {*/
/*  display: flex;*/
/*  !*align-items: center;*!*/
/*  width: 100%;*/
/*  margin: 10px 0;*/
/*}*/
/*p-table .item {*/
/*  padding: 10px;*/
/*  border-bottom: 1px solid #ddd !important;*/
/*}*/

/*p-table thead th {*/
/*  background-color: #f5f5f5 !important;*/
/*  padding: 10px !important;*/
/*}*/
/*.p-card-header {*/
/*  width: 80px; !* Adjust the width as needed *!*/
/*}*/
/*.my-button {*/
/*  border-radius: 15px;*/
/*  display: flex;*/
/*  !*justify-content: center;*!*/
/*  !*align-items: center;*!*/
/*}*/
/*p-table td:nth-child(4) {*/
/*  text-align: center;*/
/*  font-weight: bold;*/
/*}*/

/*!*.product-img {*!*/
/*!*  width: 100%;*!*/
/*!*  height: auto;*!*/
/*!*}*!*/

/*.p-card-body {*/
/*  flex-grow: 1;*/
/*  padding-left: 10px; !* Add some spacing between the image and content *!*/
/*}*/

/*.product-name {*/
/*  font-size: 18px;*/
/*  margin-top: 0;*/
/*}*/

/*.product-price {*/
/*  font-size: 16px;*/
/*  margin-top: 5px;*/
/*  color: #888;*/
/*}*/
/*.itemPrice {*/
/*}*/
/*.loading {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  height: 100vh;*/
/*}*/

/*.spinner {*/
/*  border: 8px solid rgba(0, 0, 0, 0.1);*/
/*  border-left-color: #7986cb;*/
/*  border-radius: 50%;*/
/*  width: 50px;*/
/*  height: 50px;*/
/*  animation: spin 1s linear infinite;*/
/*}*/

/*@keyframes spin {*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
.productImage {
  max-height: 100px;
  width: auto;
}

.basketContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
  grid-gap: 20px;
}

.basketItem {
  display: flex;
  flex-direction: column;
  /*height: 100%;*/
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a blurrier drop shadow */
  transition: box-shadow 0.3s ease; /* Optional: Add transition for smooth effect on hover */

}
.basketItem:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Optional: Increase shadow on hover */
}

.basketItem .content {
  flex: 1;
  display: flex;
  align-items: center;
}

.product-details {
  flex: 1;
  margin-left: 20px;
}

.ordersListContainer {
  margin-left: 50px;
}

.mainDiv {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.orderSummary {
  margin-left: 30px;
  /*margin-right: calc(60% - 400px);*/
  margin-right: 30px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: sticky;
}

.container {
  display: flex;
  justify-content: center; /* Center the mainDiv horizontally */
}
.dataParagraph {
  margin-bottom: 20px;
}


/*.price {*/
/*  font-weight: bold;*/
/*}*/

.totalPriceSpan {
  font-weight: bold;
  font-size: 20px;
  /*color: ;*/
}
.quantitySpan {
  font-weight: bold;
  padding: 0 10px;
  font-size: 20px;
  /*color: blue;*/
}
