<form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
  <p-panel header="register form">
    <div
      class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid"
      style="margin: 10px 0px"
    >
      <div
        class="ui-grid-row formSections"
        *ngFor="let field of registerFormFields"
      >
        <ng-container
          *ngIf="field.inputType === 'text' || field.inputType === 'password'"
        >
          <div class="ui-grid-col-2">{{ field.fieldName }}:</div>
          <div class="ui-grid-col-6">
            <input
              pInputText
              [type]="field.inputType"
              [formControlName]="field.controlName"
              class="form-control"
              [name]="field.controlName"
              autocomplete="off"
            />
          </div>
          <div [hidden]="!getFieldValidity(field.controlName)">
            <div class="errors" *ngFor="let error of field.errors | keyvalue">
              <p class="errorMessage">
                {{ field.fieldName }} {{ error.value }}
              </p>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="field.inputType === 'checkbox'">
          <label [for]="field.fieldName">{{ field.fieldName }}</label>
          <p-checkbox
            [formControlName]="field.controlName"
            value="ADMIN"
            [inputId]="field.fieldName"
          ></p-checkbox>
        </ng-container>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-2"></div>
        <div class="ui-grid-col-6">
          <button
            pButton
            type="submit"
            label="Submit"
            [disabled]="!registerForm.valid"
          ></button>
        </div>
        <div class="ui-grid-col-4"></div>
      </div>
    </div>
  </p-panel>
</form>
